/*VARIABLES */
/*COLORES */
/*MIDAS DE LETRA*/
/*TIPOS DE LETRAS*/
/*padding*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100px;
}
header .Logo {
  margin-left: 50px;
  width: 100px;
}
header .Logo button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
header .Logo img {
  width: 100%;
  height: auto;
}
header .Barra-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .Barra-menu .menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600px;
  font-size: 15px;
}
header .Barra-menu .menu-btn::after {
  background: #00eaff;
  transition: width 0.3s ease;
}
header .Barra-menu .menu-btn:hover {
  color: #00eaff;
}
header .Login {
  margin-right: 40px;
}
header .Login button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  margin: 10px;
  padding: 15px 40px;
  font-size: 15px;
  color: black;
}
header .Login .Log {
  border-color: #00eaff;
}
header .Login .Reg {
  border-color: #ff2fd0;
}
