.normas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  border: 1px solid #ddd;
  background: #fafafa;
}
.normas-container h2 {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.normas-container p {
  font-size: 15px;
}
