/* VARIABLES */
/* COLORES */
/* MIDAS DE LETRA */
/* TIPOS DE LETRAS */
/* PADDING */
.Titulos {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  /* mismo ancho que tu layout */
  width: 100%;
}
.Carrito {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.Carrito .target-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 25px;
  height: 250px;
}
