/* COLORES */
/* TIPOGRAFÍA */
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  justify-items: center;
  gap: 100px;
  margin-left: 40px;
}
.box .box-img {
  width: 600px;
  height: 350px;
}
.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.box .box-datos {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.box .box-datos h1 {
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 40px;
  margin-top: 20px;
}
.box .box-datos .Stream {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 5px 18px;
  border-radius: 999px;
  background-color: black;
  color: white;
  width: 300px;
}
.box .box-datos .precio {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: left;
  align-items: center;
}
.box .box-datos .precio .final {
  width: 300px;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 30px;
}
.box .box-datos .precio p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding-right: 40px;
}
.box .box-datos .plataformas {
  width: 200px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}
.box .box-datos .btn-box {
  display: flex;
  gap: 10px;
}
.box .box-datos .btn-box .btn-favoritos {
  width: 70px;
  font-size: 20px;
  background-color: black;
  color: white;
}
.box .box-datos .btn-box .btn-favoritos:hover {
  background-color: white;
  color: black;
}
.box .box-datos .btn-box .btn-cesta {
  width: 350px;
  background-color: black;
  color: white;
}
.box .box-datos .btn-box .btn-cesta:hover {
  background-color: white;
  color: black;
}
.imagenes {
  display: flex;
  gap: 30px;
  width: 650px;
  height: 150px;
  padding-left: 20px;
  cursor: pointer;
}
.imagenes .caja-imagen {
  border-radius: 10px;
  width: 150px;
  height: 130px;
}
.imagenes .caja-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.Descripciones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
