/* VARIABLES */
@neon-azul: #00eaff;
@neon-magenta: #ff2fd0;

@tipo-letra-gaming: 'Orbitron', sans-serif;
@tipo-letra-p: 'Inter', sans-serif;


.VideoJuegos{
     width: 100%;
    h2{
        font-family: @tipo-letra-gaming;
        font-size: 30px;
        color:black;
        margin-bottom: 25px;
    }

   
}