/*VARIABLES */
/*COLORES */
/*MIDAS DE LETRA*/
/*TIPOS DE LETRAS*/
/*padding*/
body .portada {
  display: grid;
  height: 700px;
  grid-template-columns: 1fr 0.35fr;
  padding: 15px 50px ;
  gap: 25px;
  height: 550px;
}
body .portada .box1 #video-portada {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
body .portada .box2 img {
  width: 100%;
  height: 90%;
}
