/* VARIABLES */
@neon-azul: #00eaff;
@neon-magenta: #ff2fd0;

@tipo-letra-gaming: 'Orbitron', sans-serif;
@tipo-letra-p: 'Inter', sans-serif;

body {
    
    .portada {
        display: grid;
        grid-template-columns: 1fr 0.35fr;
        padding: 15px 50px;
        gap: 25px;
        height: 500px;
    }

    #video-portada {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }

    .box2 img {
        width: 100%;
        height: 90%;
    }

    main {
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:40px;
    }

    .subtitulo {
        font-family: @tipo-letra-gaming;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .MasVendidos {
        display: flex;
        width: 100%;
        gap: 30px;
    }

    .Sponsor {
        width: 100%;
        height: 250px;
        padding: 50px 0;
    }

    .Sponsor img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .AnuncioVideojuego
    {
       
    }
}