.seccion-videojuegos {
    width: 100%;
}

.titulo-seccion {
    font-size: 28px;
    margin-bottom: 25px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}