/* VARIABLES */

/* COLORES */
@neon-azul: #00eaff;
@neon-magenta: #ff2fd0;

/* MIDAS DE LETRA */
@mida-letra-botones: 15px;
@mida-letra-p: 15px;

/* TIPOS DE LETRAS */
@tipo-letra-btn: 'Inter', sans-serif;
@tipo-letra-gaming: 'Orbitron', sans-serif;
@tipo-letra-p: 'Inter', sans-serif;

/* PADDING */
@padding-pantalla: 20px;


 .targeta-carrito{
        
        border-radius: 10px;
        width: 1100px;
        height: auto;
  
        ul{
            display: flex;
            flex-direction: column;
            gap:20px;

            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.811);
                border-radius: 10px;
            
                .item-info{
                    display: flex;
                    align-items: center;
                    gap:20px;
                    
                    img{
                        width: 200px;
                        height:150px;
                        border-radius: 10px;
                    }

                    .propeties{
                        font-family: @tipo-letra-gaming;
                        font-size: @mida-letra-p;
                        color: white;
                    }
                }
                .settings{

                   color:white;
                    .Gestiones{
                        button{
                            background-color: transparent;
                            color:white;
                            border: none;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                }
                }
            }
        }
    }