/* VARIABLES */

/* COLORES */
@neon-azul: #00eaff;
@neon-magenta: #ff2fd0;

/* MIDAS DE LETRA */
@mida-letra-botones: 15px;
@mida-letra-p: 15px;

/* TIPOS DE LETRAS */
@tipo-letra-btn: 'Inter', sans-serif;
@tipo-letra-gaming: 'Orbitron', sans-serif;
@tipo-letra-p: 'Inter', sans-serif;

/* PADDING */
@padding-pantalla: 20px;


 .targeta-carrito{
        
        border-radius: 10px;
        width: 1100px;
        height: auto;
  
        ul{
            display: flex;
            flex-direction: column;
            gap:20px;

            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: transparent;
                border-radius: 10px;
                border: 1px solid black;
            
                .item-info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap:20px;
                    height:200px;
                    width: 100%;
                    margin:20px;
                  
                    .bloq1
                    {
                        display: flex;
                        align-items: center;
                        gap:20px;
                        width: 60%;
                 
                        img{
                            width: 200px;
                            height:150px;
                            border-radius: 10px;
                        }

                        .propeties{
                            h3{
                                font-family: @tipo-letra-gaming;
                                font-size: @mida-letra-p * 1.7;
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }

                    .blq-acciones{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        
                        .precio{
                            display: flex;
                            align-items: center;
                            gap:10px;
                        }

                        .Gestiones{
                            display: flex;
                            align-items: center;
                            button{
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                            }
                            .btn-eliminar
                            {    
                                img{
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }