/*VARIABLES */
/*COLORES */
/*MIDAS DE LETRA*/
/*TIPOS DE LETRAS*/
/*padding*/
.card-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-info .Especificado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}
.card-info .Especificado .box-informacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-info .Especificado .box-informacion img {
  object-fit: cover;
  width: 90px;
  height: 90px;
}
