/*VARIABLES */

/*COLORES */
@neon-azul: #00eaff;
@neon-magenta: #ff2fd0;


/*MIDAS DE LETRA*/
@mida-letra-botones : 15px;
@mida-letra-p:20px;

/*TIPOS DE LETRAS*/
@tipo-letra-btn:'Inter', sans-serif;
@tipo-letra-gaming:'Orbitron', sans-serif;
@tipo-letra-p:'Inter',sans-serif;

/*padding*/
@padding-pantalla:20px;


.card-info {
    width: 100%;
    background-color: green;
    .Especificado
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 150px;
        gap:10px;
        font-family: @tipo-letra-p;
        font-size:@mida-letra-p;
        img{
            object-fit: cover;
            width: 90px;
            height: 90px;
            border-radius: 1000px;
            border: 2px solid black;
        }
    }
}